*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    

}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}

#nav>li{
    display: inline-block;
}

#nav li{
    list-style: none;
    position: relative;
}

#nav>li>a{
    color: white;
}

#nav li a{    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav>li:hover>a,
#nav .subNav li:hover a{
    background-color: #ccc;
    color: #000;
}
#nav li:hover .subNav{
    display: block;
}

#nav .subNav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3) ;
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav .subNav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#header .search_btn{
float: right;
padding: 0 21px;

}



#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px; 
       
}
#header .search_btn:hover{
    background-color: red;
    cursor: pointer;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
background: url('/chicago.jpg') top center / cover no-repeat;
position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 50px;
    color: #fff;
    /* left: 50%;
    transform: translate(-50%); */
    right: 0;
    left: 0;
    text-align: center;
}
#slider .text-heading{
font-weight: bold;
font-size: 24px;
}

#slider .text-phu{
font-size: 15px;
margin-top: 25px;
}


#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 112px;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin: 25px 0px;
    font-style: italic;
}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
    margin-top: 50px;
}
#content .member-item{
    float: left;
    width: calc(100%/3);
    text-align: center;
}
#content .member-name{
    
    font-size: 15px;
}
#content .member-avatar{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;

}
#content .clear{
    clear: both;
}
#content .tour-section{
    background-color: #000;
    
}
.text-white{
    color: white !important;
}
.tickets-list{
    background-color: #fff;
    list-style: none;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: #ddd solid 1px;
}

.tickets-list .sold-out{
background-color: #f44336;
color: #fff;
margin-left: 15px;
padding: 3px 4px;

}

.tickets-list .quantity{
float: right;
width: 24px;
height: 24px;
background-color: #000;
color: #fff;
border-radius: 100%;
line-height: 24px;
text-align: center;
margin-top: -3px;
}

.place-list{
margin-top: 32px;
margin-left: -8px;
margin-right: -8px;
padding-bottom: 45px;
}
.place-item{
    float: left;
    width: calc(100%/3);
    padding: 0 8px;
    
}
.place-img{
    width: 100%;
   display: block;
    
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
}
.place-time{
    margin-top: 15px;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.5;
}
.buy-ticket{
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
.buy-ticket:hover{
    background-color: #ccc;
    color: #000;
}

#content .contact{
    background-color: #fff;
}

#footer{

}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal .modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-40px);
    min-height: 200px;
    position: relative;
    animation: modal-animation ease 0.5s;
}

.modal-header{
    height: 130px;
    display: flex;
    background: #009688;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}
.modal-close{
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    padding: 15px;
}
.modal-close:hover{
    opacity: 0.8;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 25px;
}
#pay{
    background: #009688;
    font-size: 15px;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
#pay:hover{
    opacity: 0.6;
}
.modal-footer{
    padding: 15px;
    text-align: right;
    
}
.modal-footer a{
    color: aqua;
}
.modal.open{
    display: flex;
}
@keyframes modal-animation{
    from{
transform: translateY(-100px);
    }to{
        transform: translateY(0px);
    }
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.contact-content{
    margin-top: 50px;
}
.contact-info{
    font-size: 18px;
    line-height: 30px;
}
.contact-info p i {
    width: 30px;
    display: inline-block;    
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px #ccc solid;
    width: 100%;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.form-submit{
background: #000;
color: #fff;
border: solid 1px #000;
padding: 12px 16px;
float: right;
}
.form-submit:hover{
background: #ccc;
color: #000;
cursor: pointer;
border: solid 1px #ccc;
}
.map-section img{
    width: 100%;
    margin-top: 64px;
}
#footer{
    padding: 64px 16px;
    text-align: center;
    background: #fff;
}
.social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
#footer .coppy{
    color: rgba(0, 0, 0, 0.6);
    margin: 20px;
}
#footer .coppy a:hover,
.social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .coppy a{
    
    color: rgba(0, 0, 0, 0.7);
}